.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 20px;
}

a.homeLink  {
  margin-right: 10px;
  text-decoration: none;
  top: 100px;
  color: rgb(229, 255, 0);
  background: linear-gradient(to right, rgb(110, 110, 110), rgb(255, 255, 255) 50%, rgb(229, 255, 0) 50%);
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
  overflow: hidden;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}

a.homeLink:hover  {
  background-position: 0 100%;
}

a.linkedin, a.github {
  color: rgb(61, 61, 61);
  margin-right: 10px;
  margin-left: 10px;
}

a.linkedin >svg:hover, a.github > svg:hover {
  transform: translateY(-2px);
}

a.linkedin >svg:active, a.github > svg:active {
  transform: translateY(2px);
}

a.searchLink {
  text-decoration: none;
  color: rgb(229, 255, 0);
  background: linear-gradient(to right, rgb(110, 110, 110), rgb(255, 255, 255) 50%, rgb(229, 255, 0) 50%);
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
  overflow: hidden;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}

a.searchLink:hover  {
  background-position: 0 100%;
}

.App {
  text-align: center;
  background: rgb(162,162,162);
  background: radial-gradient(circle, rgba(162,162,162,1) 0%, rgba(98,92,92,1) 100%);
}

.appMain {
  min-height: calc(100vh - 144px);
}

body {
  font-family: 'Roboto Slab', serif;
  font-weight: 600;
}

.certDet {
  margin-left: 25px;
  margin-right: 25px;
}

.certResult {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.certTitle {
  background-color: black;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  color: white;
  margin-bottom: 0px;
}

.Certificate {
  background-color: aliceblue;
  width: 270px;
  min-height: 1em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  border: 2px solid black;
  border-radius: 25px;
  box-shadow: 0 0 4px black;
  padding-left: 5px;
  padding-right: 5px;
  text-decoration: none;
}

.Certificate > h4 {
  margin-top: 5px;
}

.Certificate > img {
  height: 100px;
  width: 100px;
  margin-top: 15px;
}

.comment {
  min-height: 150px;
  background-color: aliceblue;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border: 3px solid rgb(0, 0, 0);
  margin-bottom: 15px;
}

.crLeft, .crRight {
  background-color: aliceblue;
  border: 3px solid black;
  padding-top: 15px;
  padding-bottom: 15px;
}

.crLeft {
  border-bottom-left-radius: 25px;
}

.crLeft > p {
  margin-left: 5px;
  margin-right: 5px;
}

.crLeft > img {
  height: 200px;
}

.crRight {
  border-bottom-right-radius: 25px;
  text-align: left;
}

.crRight > p {
  margin-left: 15px;
  margin-right: 15px;
}

.delButton {
  color: red;
  cursor: pointer;
  background-color: aliceblue;
  border: none;
  margin-left: 5px;
}

.diff {
  margin-left: 5px;
}

.Dropdown {
  font: inherit;
  border: 0;
  box-shadow: -1px 1px 3px;
}

.editButton {
    color: red;
    cursor: pointer;
    margin-left: 5px;
    border: none;
    background: none;
}

.editForm {
  z-index: 7;
}

.Footer {
  border-top: 3px solid black;  
  height: 40px;
  position: relative;
  left: 0;
  bottom: 0;
  background: rgb(41,41,41);
  background: linear-gradient(90deg, rgba(41,41,41,1) 0%, rgba(34,33,41,1) 48%, rgba(0,0,0,1) 100%);
}

.Header {
  height: 100px;
  border-bottom: 3px solid black;  
  background: rgb(41,41,41);
  background: linear-gradient(90deg, rgba(41,41,41,1) 0%, rgba(34,33,41,1) 48%, rgba(0,0,0,1) 100%);
}

.how, .why {
  border-radius: 25px;
  box-shadow: 0 0 7px black;
  border: 2px solid black;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  min-height: 350px;
  background-color: aliceblue;
}

.how > h3 > span {
  color: rgb(0, 0, 0);
  font-weight: 1000;
  text-shadow: 0 0 1px black;
  font-size: 22px;
}

.input {
  outline: none;
  border: none;
  box-shadow: -1px 2px 2px black;
  margin-right: 5px;
  background-color: rgba(128, 128, 128, 0.314);
}

.input::placeholder {
  color: rgba(0, 0, 0, 0.717);
  font-family: 'Roboto Slab', serif;
  font-weight: 600;
}

.input:hover::placeholder {
  color: white;
}

.inputButton {
  box-shadow: -1px 2px 2px black;
  font-family: 'Roboto Slab', serif;
  margin-top: 1px;
  font-size: 11px;
}

.inputButton:hover {
  transform: translateY(-1px);
  cursor: pointer;
}

.inputButton:active {
  transform: translateY(1px);
}

.Login, .Register {
  display: inline-flex;
  margin-top: 100px;
  border-radius: 25px;
  box-shadow: 0 0 7px black;
  background-color: aliceblue;
}

.logout {
  top: 72px;
  position: absolute;
  right: 65px;
  border: none;
  background: none;
  font-size: 18px;
  cursor: pointer;
  color: rgb(255, 255, 255);
}

.logout:hover {
  transform: translateY(-1px);
}

.logout:active {
  transform: translateY(1px);
}

.Main {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.navHome {
  font-size: 30px;
  position: absolute;
  font-family: 'Anton', sans-serif;
  left: 10px;
  top: 60px;
}

.navSearch {
  font-size: 30px;
  position: absolute;
  font-family: 'Anton', sans-serif;
  left: 90px;
  top: 60px;
}

.newStudy {
  margin-bottom: 0;
  margin-top: 19.92px;
  background-color: rgb(0, 0, 0);
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  border: 3px solid black;
  color: white;
}

.recList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style-type: none;
  padding-left: 0px;
  min-height: 100px;
  background-color: aliceblue;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border: 3px solid rgb(0, 0, 0);
  margin: 0;
}

.Resources > form {
  background-color: aliceblue;
  height: 30px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border: 3px solid black;
  border-top: none;
}


.recUpdate {
  height: 250px;
  margin-top: 20px;
  border: 2px solid black;
  box-shadow: 0 0 7px black;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  background-color: aliceblue;
}

.recUpdate > h3, .why > h3, .how > h3 {
  border-bottom: dotted black 2px;
  padding-bottom: 5px;
}

.results {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 500px;
  margin-bottom: 20px;
}

.results > a {
  text-decoration: none;
  color: black;
}

.search {
  border: 2px solid black;
  max-height: calc(80vh);
  border-radius: 25px;
  box-shadow: 0 0 5px black;
  margin-left: 10px;
  background-color: aliceblue;
}

.search > h3 {
  border-bottom: 2px dotted black;
  padding-bottom: 5px;
}

.signInButton {
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'Roboto Slab', serif;
  font-weight: 600;
  margin-top: 5px;
  box-shadow: 0px 2px 2px black;
  cursor: pointer;
}

.signInButton:hover {
  transform: translateY(-1px);
}

.signIn, .createAcc {
  padding: 50px;
}

.signUp, .welcomeBack {
  padding: 50px;
  border-left: 3px solid black;
  background: rgb(41,41,41);
  background: linear-gradient(90deg, rgba(41,41,41,1) 0%, rgba(34,33,41,1) 48%, rgba(0,0,0,1) 100%);
  color: aliceblue;
  border-radius: 25px;
}

.Title {
  background-color: black;
  color: white;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  margin-bottom: 0px;
}

.textInput {
  font: inherit;
  border: 0;
  box-shadow: -1px 1px 3px;
}

.title {
  font-size: 40px;
  position: absolute;
  font-family: 'Anton', sans-serif;
  right: 10px;
  color: rgb(229, 255, 0);
  margin-top: 10px;
}

.updateDiv {
  display: inline-flex;
}

.updateList {
  padding-left: 0px;
  width: 170px;
  margin-left: 5px;
  margin-right: 5px;
}

.why > p, .how > p {
  margin-right: 5px;
  margin-left: 5px;
}

.why > p > span {
  color: rgb(0, 0, 0);
  font-weight: 1000;
  text-shadow: 0 0 .5px black;
  font-size: 18px;

}

.why > h3 > span {
  color: rgb(0, 0, 0);
  font-weight: 1000;
  text-shadow: 0 0 1px rgb(0, 0, 0);
  font-size: 22px;
}
