.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 20px;
}

a.homeLink  {
  margin-right: 10px;
  text-decoration: none;
  top: 100px;
  color: rgb(0, 174, 255);
  background: linear-gradient(to right, black, black 50%, rgb(0, 174, 255) 50%);
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
  overflow: hidden;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}

a.homeLink:hover  {
  background-position: 0 100%;
}

a.linkedin, a.github {
  color: rgb(61, 61, 61);
  margin-right: 10px;
  margin-left: 10px;
}

a.linkedin >svg:hover, a.github > svg:hover {
  transform: translateY(-2px);
}

a.linkedin >svg:active, a.github > svg:active {
  transform: translateY(2px);
}

a.searchLink {
  text-decoration: none;
  color: rgb(0, 174, 255);
  background: linear-gradient(to right, black, black 50%, rgb(0, 174, 255) 50%);
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
  overflow: hidden;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}

a.searchLink:hover  {
  background-position: 0 100%;
}

.App {
  text-align: center;
  background-color: rgba(180, 180, 180, 0.438);
}

.appMain {
  min-height: calc(100vh - 162px);
}

body {
  font-family: 'Roboto Slab', serif;
  font-weight: 600;
}

.certDet {
  margin-left: 25px;
  margin-right: 25px;
}

.certResult {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.certTitle {
  background-color: black;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  color: white;
  margin-bottom: 0px;
}

.Certificate {
  background-color: aliceblue;
  width: 270px;
  min-height: 1em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  border: 2px solid black;
  border-radius: 25px;
  box-shadow: 0 0 4px black;
  padding-left: 5px;
  padding-right: 5px;
  text-decoration: none;
}

.Certificate > h4 {
  margin-top: 5px;
}

.Certificate > img {
  height: 100px;
  width: 100px;
  margin-top: 15px;
}

.crLeft, .crRight {
  background-color: aliceblue;
  border: 3px solid black;
  padding-top: 15px;
}

.crLeft {
  border-bottom-left-radius: 25px;
}

.crLeft > p {
  margin-left: 5px;
  margin-right: 5px;
}

.crLeft > img {
  height: 150px;
}

.crRight {
  border-bottom-right-radius: 25px;
}

.Footer {
  border-top: 3px solid black;  
  height: 40px;
  position: relative;
  left: 0;
  bottom: 0;
  background: rgb(162,162,162);
  background: radial-gradient(circle, rgba(162,162,162,1) 0%, rgba(98,92,92,1) 100%);
}

.Header {
  height: 100px;
  border-bottom: 3px solid black;  
  background: rgb(162,162,162);
  background: radial-gradient(circle, rgba(162,162,162,1) 0%, rgba(98,92,92,1) 100%);
}

.how, .why {
  border-radius: 25px;
  box-shadow: 0 0 7px black;
  border: 2px solid black;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  min-height: 350px;
  background-color: aliceblue;
}

.how > h3 > span {
  color: rgb(0, 174, 255);
  font-weight: 1000;
  text-shadow: 0 0 1px black;
  font-size: 22px;
}

.Main {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.recUpdate {
  height: 250px;
  margin-top: 20px;
  border: 2px solid black;
  box-shadow: 0 0 7px black;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  background-color: aliceblue;
}

.recUpdate > h3, .why > h3, .how > h3 {
  border-bottom: dotted black 2px;
  padding-bottom: 5px;
}

.results {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 500px;
  margin-bottom: 20px;
}

.results > a {
  text-decoration: none;
  color: black;
}

.navLinks {
  font-size: 30px;
  position: absolute;
  font-family: 'Anton', sans-serif;
  left: 10px;
  top: 60px;
}

.search {
  border: 2px solid black;
  max-height: calc(80vh);
  border-radius: 25px;
  box-shadow: 0 0 5px black;
  margin-left: 10px;
  background-color: aliceblue;
}

.search > h3 {
  border-bottom: 2px dotted black;
  padding-bottom: 5px;
}

.title {
  font-size: 40px;
  position: absolute;
  font-family: 'Anton', sans-serif;
  right: 10px;
  color: rgb(0, 174, 255);
  text-shadow: 0 0 6px black;
}

.why > p, .how > p {
  margin-right: 5px;
  margin-left: 5px;
}

.why > p > span {
  color: rgb(0, 174, 255);
  font-weight: 1000;
  text-shadow: 0 0 .5px black;
  font-size: 18px;

}

.why > h3 > span {
  color: rgb(0, 174, 255);
  font-weight: 1000;
  text-shadow: 0 0 1px rgb(0, 0, 0);
  font-size: 22px;
}
